/* -----CSS DE LA GESTIÓN DEL ADMIN----- */

/*TIPOGRAFIAS*/
@font-face{
	font-family:"Mabook";
	src:
		url("fuente/mabook/Mabook.ttf");
}

@font-face{
	font-family:"Comfortaa";
	src:
		url("fuente/comfortaa/Comfortaa-VariableFont_wght.ttf");

}

/*ELEMENTOS GENERALES*/
body{
    margin:0;
    padding:0;
    text-align: center;
    font-family: "Comfortaa";
    position: relative;
}

h1{
    font-family: "Mabook", "Comfortaa" ;
    margin-top: 60px;
    font-size: 50px;
}

table{
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    min-width: 300px;
}

td, th{
    border: 1px black solid;
    height: 30px;
    padding: 10px;
}

td a{
    cursor: pointer ;
    margin: 0 10px;
    text-decoration: none;
    color: black;
}
td a:hover{
    color:#13bbbb;
}

button{
    width: 100px;
    height: 50px;
    background-color: #FFA90D;
    cursor: pointer;
    border:0;
}

button:hover{
    background-color: #FF8400;
}

a{
    text-decoration: none !important;
    cursor: pointer !important;
}

/*-----MENU-----*/

header {
    background-color: #FEA832;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 20px;
}

.logo{display: none;}

/*-------Ajustes nav-----------*/
nav input#check {
    display: none;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
/*Flex 0 al logo porque no necesita más espacio*/
#flex0{
    flex-grow: 0;
    flex-shrink: 0;
}
/*Flex 1 al cerrar sesión para que aparezca más pequeño*/
#flex1{
    flex-grow: 1;
    flex-shrink: 1;
}

/*Flex-grow y flex-shrink 2 para las opciones para darle más importancia*/
nav li{
	display: inline-block;
    flex-grow: 2;
    flex-shrink: 2;
    margin: auto;
    height: 100px;
    text-align: center;
}

header li img{
    height: 100px;
}

header ul a {
    cursor: pointer;
    display: block;
    height: 60px;
    width: 100%;
    padding-top: 40px;
    font-family: 'Comfortaa';
    font-weight: bold;
    color: #000;
}

.opciones:hover{
    background-color: #13bbbb ;
}

nav #btnMenu {
    float: right;
    margin-top: 30px;
    margin-right: 40px;
    display: none;
    cursor: pointer;
    height: 7vh;
}

#btnMenu img{
    width: 40px;
}
/*-------------Media Query Ajustes-------------*/
@media (max-width:800px){
    nav{
        font-size: 0.8em;
    }
}

/*-------------Media Query Ajustes iPad-------------*/
@media (max-width: 730px) {

    nav #btnMenu {
        display: block;
    }
	
    .logo{
        float: left;
        display: block;
    }

    #flex0{
        display: none;
    }
    /*NAV*/
    header .logo img {
        height: 95px;
    }

    ul {
        position: absolute;
        width: 100%;
        height: auto;
        background: #13bbbb;
        top: 100px;
        left: -1000px;
        text-align: center;
        transition: all 1s;
        display: block !important;
    }

    ul li {
        width: 100%;
        line-height: 4.2vh;
    }

    ul li a
    {
        font-size: 30px;
        font-size: 20px;
    }

    .opciones:hover{
        background: #FEA832;
    }

    nav input#check:checked~ul {
        left: 0;
        display: block;
    }
	
    label{
        font-size: 1em;
    }

    label, td, th{
        font-size: 0.6em;
    }

    h1{
        font-size: 25px;
    }
    td a{
        
        font-size: 1.5em;
    }

    #divCrudCategorias, #divCrudSubcategorias, #divModSubcategorias, #divCrudReflexiones{
        margin: 50px 0 !important;
    }

     /* -----AJUSTES PREGUNTAS Y RESPUESTAS----- */
     #divCrudPreguntasRespuestas fieldset,
     #divModPreguntasRespuestas fieldset {
         display: block;
     }
 
     .textoCorrectas {
         font-size: 0.4em;
     }
 
     #divListado table,
     #divModPreguntasRespuestas table {
         table-layout: fixed;
         padding: 0;
         width: auto;    /* Calcular el ancho automáticamente (ya no es 90%) */
         margin: auto;
     }
 
     /* Hacer que cada tr esté separado del siguiente */
     #divListado tr,
     #divModPreguntasRespuestas tr {
         display: block;
         margin: 10px;
     }
 
     /* Hacer que el título de los campos de la tabla salgan dentro de los td */
     #divListado td::before,
     #divModPreguntasRespuestas td::before {
         content: attr(data-titulo); /* Se coge el valor del atributo personalizado creado en HTML */
         font-weight: bold;
         padding-right: 15px;
     }
 
     /* Ocultar cabecera de la tabla */
     #divListado thead,
     #divModPreguntasRespuestas thead {
         display: none;
     }
 
     #divListado td,
     #divModPreguntasRespuestas td {
         font-size: 0.5em;
         display: block;
         text-align: left;
         width: 435px;
         height: auto; /* Para quitar el 30px especificado por un estilo más general */
         padding: 5px;
         margin: auto;
     }
}
/*---------Media Query Movil---------*/
@media (max-width:540px){
    td,th{
        padding:5px;
    }
    form,input{
        padding: 1px 0;
    }
    tr a{
        margin:0 5px;
    }
    nav li{
        height: 70px;
    }
    ul li a{
        height: 45px;
        padding-top: 25px;
    }
/* -----AJUSTES PREGUNTAS Y RESPUESTAS----- */
.textoCorrectas {
    display: block;
}

#divListado td, th,
#divModPreguntasRespuestas td, th {
    width: 270px;
}

#divCrudPreguntasRespuestas textarea,
#divModPreguntasRespuestas textarea {
    width: 250px;
}
}

/*-----CATEGORIAS Y SUBCATEGORIAS-----*/

#divCrudCategorias, #divCrudSubcategorias, #divModSubcategorias{
    margin: 50px 0;
    font-size: 1.5em;
}

#divCrudCategorias input,button{
    margin: 20px 0;
    font-family: "Comfortaa";
}

#divCrudSubcategorias input,button,select{
    margin-top: 40px;
    font-family: "Comfortaa";
}

#divCrudSubcategorias table{
	font-size:0.7em;
}
#divCrudSubcategorias select, #divModSubcategorias select{
    width: 167px;
    font-family: 'Comfortaa';
}

#divModSubcategorias input,button,select{
    margin-top: 40px;
    font-family: "Comfortaa";
}
/* -----REFLEXIONES----- */

#divReflexiones textarea{
    vertical-align: middle;
    min-width: 300px;
    min-height: 80px;
	margin-bottom: 30px;
}

#desaparecido{
    visibility:hidden;
}



/* -----PREGUNTAS Y RESPUESTAS----- */
#divCrudPreguntasRespuestas, #divModPreguntasRespuestas {
    margin: 50px 0;
    font-size: 1.5em;
}

#divCrudPreguntasRespuestas input, select,
#divModPreguntasRespuestas input, select {
    margin-bottom: 20px;
}

#divCrudPreguntasRespuestas textarea,
#divModPreguntasRespuestas textarea {
    resize: none;
}

#divCrudPreguntasRespuestas hr,
#divModPreguntasRespuestas hr {
    height: 1px;
    border: 0;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 25%, rgba(210,210,210,1) 75%, rgba(255,255,255,1) 100%);
}

#divCrudPreguntasRespuestas fieldset,
#divModPreguntasRespuestas fieldset {
    display: inline-block;
    border: 0;
}

.textoCorrectas {
	font-size: 0.6em;
}

#divCrudPreguntasRespuestas table,
#divModPreguntasRespuestas table {
    width: 90%;
}

#numPregunta{
    display:none;
}

 .none{
    display:none;
 }

/*-----FOOTER-----*/
#footer{
    width: 100%;
    background-color: #FF8400;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
    position: relative;
    bottom: 0;
}