/* -----CSS DE LA GESTIÓN DEL ADMIN----- */

/*TIPOGRAFIAS*/
@font-face{
	font-family:"Mabook";
	src:
		url("fuente/mabook/Mabook.ttf");
}

@font-face{
	font-family:"Comfortaa";
	src:
		url("fuente/comfortaa/Comfortaa-VariableFont_wght.ttf");

}
/*ELEMENTOS GENERALES*/
body{
    margin:0;
    padding:0;
    text-align: center;
    font-family: "Comfortaa";
}

h1{
    font-family: "Mabook", "Comfortaa" ;
    margin-top: 60px;
    font-size: 50px;
}

table{
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    min-width: 300px;
}

td, th{
    border: 1px black solid;
    height: 30px;
    padding: 10px;
}

tr a{
    cursor: pointer;
    margin: 0 10px;
}

/*-----MENU-----*/
nav{
    background-color: #FFA90D;
    height: 100px;
    width: 100%;
    font-family: "Comfortaa";
    font-weight: bold;
}

nav ul{
    display: flex;
}

/*Flex-grow y flex-shrink 2 para las opciones para darle más importancia*/
nav li{
	display: inline-block;
    flex-grow: 2;
    flex-shrink: 2;
    margin: auto;
    height: 100px;
}

/*Id para poner flex-grow y flex-shrink 0 para el logo porque no necesita más espacio*/
#flex0{
    flex-grow: 0;
    flex-shrink: 0;
}

/*Id para poner flex-grow y flex-shrink 1 para el cierre de sesión porque no necesita más espacio*/
#flex1{
    flex-grow: 1;
    flex-shrink: 1;
}

li img{
    height: 100px;
}

li a{
    cursor: pointer;
    display: block;
    height: 60px;
    width: 100%;
    padding-top: 40px;
}

.opciones:hover{
    background-color: #3AE8A5 ;
}

@media screen and (max-width: 800px){
    nav{
        font-size: 0.8em;
    }
}

@media (max-width: 620px){
    ul{
      position: fixed;
      width: 45%;
      height: 100vh;
      background: #13bbbb;
      text-align: center;
      transition: all .5s;
      display: block !important;
      padding-inline-start: 0px;
    }

    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }

    nav ul li a{
      font-size: 20px;
    }

    a:hover,a.active{
      background: none;
      color: #0082e6;
    }

}
/*-----LISTADO-----*/


/*-----CATEGORIAS-----*/

#divCrudCategorias, #divCrudSubcategorias{
    margin-top: 30px;
    font-size: 1.5em;
}

#divCrudCategorias input,button{
    margin: 20px 0;
    font-family: "Comfortaa";
}

#divCrudSubcategorias input,button,select{
    margin-top: 40px;
    font-family: "Comfortaa";
}

#divCrudCategorias button,#divCrudSubcategorias button{
    width: 100px;
    height: 50px;
    background-color: #FFA90D;
    cursor: pointer;
    border:0;
}

#divCrudCategorias button:hover, #divCrudSubcategorias button:hover{
    background-color: #FF8400;
}

#divCrudSubcategorias select{
    width: 167px;
    font-family: 'Comfortaa';
}



