/* -----CSS DE LA GESTIÓN DEL ADMIN----- */

@font-face{
	font-family:"Mabook";
	src:
		url("fuente/mabook/Mabook.ttf");
}

@font-face{
	font-family:"Comfortaa";
	src:
		url("fuente/comfortaa/Comfortaa-VariableFont_wght.ttf");

}

body{
    margin:0;
    padding:0;
    text-align: center;
    font-family: "Comfortaa";
}

h1{
    font-family: "Mabook";
    margin-top: 60px;
}

#divCategoria{
    height: 1000px;
    width: 100%;
}

/*-----MENU-----*/
nav{
    background-color: #FFA90D;
    height: 100px;
    width: 100%;
    font-family: "Comfortaa";
    font-weight: bold;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav li{
	display: inline-block;
    flex-grow: 1;
    margin: auto;
    padding-top: 2%;
    height: 50px;
}

li img{
    height: 100px;
    position: relative;
    top: -40px;
}

li  a{
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
}

li:hover{
    background-color: #3AE8A5 ;
}

/*-----CATEGORIAS-----*/

#divCrudCategorias, #divCrudSubcategorias{
    margin-top: 30px;
    font-size: 1.5em;
}

#divCrudCategorias input,button{
    margin-top: 40px;
    font-family: "Comfortaa";
}

#divCrudSubcategorias input,button,select{
    margin-top: 40px;
    font-family: "Comfortaa";
}

#divCrudCategorias button,#divCrudSubcategorias button{
    width: 100px;
    height: 50px;
    background-color: #FFA90D;
    cursor: pointer;
}

#divCrudCategorias button:hover, #divCrudSubcategorias button:hover{
    background-color: #FF8400;
}

#divCrudSubcategorias select{
    width: 167px;
}

