@font-face{
	font-family: "Mabook";
	src: url("recursos/fuente/mabook/Mabook.ttf");
}

html{
    width: 1366px;
    height: 768px;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
	text-align:center;
}

div#divInicioSesion{
    width: 100%;
    height: 100%;
    color: #513400;
}

div#divAlta{
	width: 100%;
    height: 100%;
    color: #513400;
	font-family:Mabook;
	font-size:1.5em;
    font-weight: bold;
}

img#logoCorporativo{
	width:30%;
	height:auto;
}

form#formulario_inicio{
	font-size:1.5em;
    font-weight: bold;
    margin:0 auto;
    width: 33%;
    height: 33%;
    background-color: #FFCA6A;
    border:1px solid  black;
	border-radius:50px;
	padding-top:2%;
	font-family:Mabook;
}

form#formulario_alta{
    margin:0 auto;
    width: 33%;
    height: 40%;
    background-color: #FFCA6A;
    border:1px solid  black;
	border-radius:50px;
	padding-top:2%;
}

button#btnEnviar{
	background-image:url("recursos/img/boton_enviar.png");
	background-color:transparent;
	background-position:center;
	background-size:150px 100px;
	background-repeat:no-repeat;
	width:30%;
	height:25%;
	border:0px;
}