/*La resolución nativa será 1366x768 y se hará adaptable*/
html{
	height:768px;
	/*width:1366px;*/
	overflow:hidden;
	background-color: white;
}

*{
	font-family: 'Comfortaa';
}

body{
	height:100%;
	width:100%;
	margin:0;
}

@font-face{
	font-family: 'Mabook';
	src: url('../fonts/Mabook.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa-VariableFont_wght.ttf');
	font-style: normal;
	font-weight: normal;
}

/* ----------PANTALLA DE INICIO----------- */
#divInicio{
	height:100%;
	width: 100%;
	position:relative;
    background-color: #3AE8A5;
    animation-name:dianoche;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    overflow: hidden;
} 

#divInicio #divLogo{
    width:29.28257687%;
    position:absolute;
    left:33.6749634%;
}
#divLogo{
    animation-name: movLogo;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

#divInicio #divAgua{
    width: 100%;
    height: 32.55208333%;/*La altura ideada es de 768px para el body, y para estos dos div seria de 200px*/
    position:absolute;
    top:68.75%;
    background-color: blue;
}

div img{
    width:100%;
    height:auto;
    position:absolute;
}

#divBotones{
    width: 10.98096633%;/*Los botones al medir 150px, hemos cogido esa referencia para calcular el porcentaje del elemento*/
    height: 7.8125%;
    display:inline-block;
    position:absolute;
    top:67.70833333%;
    left:42.45973646%;/*580px;*/
    margin-top: 2.604166667%;
    
}

#divBotones button{
    width: 100%;/*150px de ancho por boton, su div tendrá el ancho del tamaño del botón*/
    height: 83.33333333%;
	margin-top: 16.6666667%;
    transition: .5s;
    cursor: pointer;
    border:none;
}

#botonComenzar{
    background-image: URL("../img/boton_comenzar.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size: 66.66666667% 166.66666667%;/*Para el calculo del background-size, usé el mismo metodo, cogí las medidas en px iniciales y calculé*/
    background-color: transparent;              /*Ambas medidas eran de 100px, la altura antes del porcentaje era de 60px y el ancho de 150px*/
}

#botonRanking{
    background-image: URL("../img/boton_ranking.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size: 66.66666667% 166.66666667%;
    background-color: transparent;
}

#hidden{
    background-color: black;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

#imgIslas{
    width:51.24450952%;/*La imagen de la isla seria de unos 700px y se distribuiria en el body 1366px*/
    position:absolute;
    left:21.96193265%;
    top:10.41666667%;
}

#imgSol{
    position:absolute;
    width: 7.320644217%;
    animation: sol;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    overflow: hidden;
    animation-play-state:20s;
}

#imgLuna{
    position:absolute;
    width: 7.320644217%;
    animation: luna;
    left:-50%;/*Propiedad para evitar que la luna aparezca antes de empezar su animación*/
    animation-duration: 40s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.imgNubeGrande{
    width:7.320644217%;/*El tamaño de la nube sería de 100px y su body de 1366px*/
    position: absolute;
    animation-name:movNube ;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.imgNubePeque{
    position: absolute;
    width:14.64128843%;/*Tamaño de la nube mas grande, la idea era de 200px, su body es de 1366px*/
    animation-name:movNube ;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
}

/*ANIMACIONES DE LA PÁGINA DE INICIO. MOVIMIENTO Y CICLO DIA Y NOCHE*/

/*Movimiento del logotipo cambiando su width para el efecto de pulso del logotipo establecido en la página de inicio*/
@keyframes movLogo {
    from{width:29.28257687%;}/*Para la animación, hemos especificado que parta de este porcentaje que es el paso de 400px sobre el ancho deñ body*/
    to{width:30.74670571%;}/*Hasta este porcentaje, que es el resultado de 420px pasados a % sobre el ancho del body*/
}
/*Movimiento de las imagenes de nube en la página de inicio, se usa tanto en una dirección como para la otra*/
@keyframes movNube {
    from{left:-10.98096633%;}/*Le especificamos que comience mas atrás de la parte visible(-150px) para hacer efecto de aparición de la imagen*/
    to{left:100%;}/*hasta el fin de la parte visible por la parte derecha(1366px del body), para hacer que se marche*/
}
/*------ANIMACIONES SOL Y LUNA------*/
/*Para las animaciones de las imagenes del sol y la luna, he repartido sus tiempos de aparición entre dos animaciones*/

/*El movimiento de la luna empieza a ser visible a partir de la mitad de su tiempo de animación, para así dejar en primer lugar el movimiento del sol*/
@keyframes luna {
    30%{opacity: 0;}/*Le quitamos la visibilidad*/
    51%{left:0%; top:36.87315634%;}
    52%{left:0%; top:36.87315634%;opacity: 1;}/*A partir de este instante la luna empieza a ser visible, y le decimos que parta desde el inicio del body*/
    75%{left:40.26354319%;top:0%;}/*en un cuarto del tiempo, se posicionará en el centro (550px) y subirá hasta la parte alta del body*/
    100%{left:95.90043924%;top:36.87315634%;}/*para finalmente irse, posicionandose mas allá del body y a una altura como la de inicio*/
}
/*Para la animación del sol, la idea es la misma pero sus tiempos de aparición y desaparición es en la primera mitad del tiempo*/
@keyframes sol {
    0%{left:0px; top:36.87315634%;}
    25%{left:40.26354319%;top:0px;opacity: 1;}
    50%{left:95.90043924%;top:36.87315634%;opacity: 1;}
    51%{left:95.90043924%;top:36.87315634%;opacity: 0}
    100%{left:95.90043924%;top:36.87315634%;opacity: 0;}
}
/*--------------------------*/
/*Animación ambiental para crear un ciclo dia/noche en la página de inicio*/
@keyframes dianoche {
   from {background-color:#3AE8A5;}
   to {background-color:#837D7C;}
}

.carga{
    height:120px;
    line-height:110px;
    position:absolute;
    display:block;
}
/*
@keyframes wave-animation{
    0%{background-position:100px bottom};
    100%{background-position:100px bottom};
}
*/
/*Animación del movimiento de olas, para esta animación, jugamos con la imagen de fondo de un div con forma de ola en su parte superior
y vamos ensanchando y haciendola mas pequeña para hacer ese efecto de movimiento de ola*/
@keyframes carga-animacion{
    0%{background-size:20% 100% ;}
    50%{background-size:35% 100% ;}
    100%{background-size:50% 100%;}
}

.ola{
    background-image:url('https://i.imgur.com/uFpLbYt.png');
    color:rgba(0,0,0,0);
    animation:ola-animacion 3s infinite linear alternate, carga-animacion 10s infinite linear alternate-reverse;
    background-size:50% 70%;
    background-repeat:repeat-x;
    opacity:0.5;
}

/* ----------CSS Pantalla de Juego---------- */

/* Clase que se añade a las tarjetas de respuesta cuando intentamos meter la pregunta en él */
canvas{
    width:100%;
    height: 100%;
}
.drag-over {
    background-color:#C4830A !important;
}

div#divCanvas{
	height:90%;
	width:100%;
	background-color: #FFA90D;
	position:relative;
}

div#divJuego{
	float:left;
	height:100%;
	width:60%;
	background-color: #cbe7fe;
}

div#divJuego img{
	position:absolute;
	height:auto;
	width:120px;
    cursor: pointer;
}

div#divPregunta{
	float:left;
	left:71%;
	top:5%;
	height:45%;
	position:absolute;
	width:18%;
	cursor: grab;
    background-image: url(../img/cartaBambu.png);
    background-size: contain;
    background-repeat: no-repeat;
}

p#textoPregunta{
	position: absolute;
	top:7%;
	padding:7%;
	text-align: center;
	font-size: 1.2em;
	font-family: Mabook;
}

img#grifo{
	width:60%;
	height:auto;
	margin: 0 auto;
	left:20%;
	top:45%;
}

img#icono{
	width:20%;
	height:auto;
	top:-3%;
	left:-3%;
	margin: 0 auto;
}
 
img#marcoPregunta{
	width:100%;
	height:100%;
}

div#divRespuesta1{
	margin-left:1%;
}

div#divRespuesta2{
	margin-left:2%;
	margin-right:1%;
}
div#divPuntuacion{
    position: absolute;
    top:50px;
    left: 400px;
    font-family: Mabook;
}
div#divCronometro{
    position:absolute;
    top:20px;
    left:1500px;
    font-family: Mabook;
}

div.respuestas{
	float:left;
	height:45%;
	top:50%;
	position:relative;
	width:18%;
    background-image: url(../img/cartaBambu.png);
    background-size: contain;
    background-repeat: no-repeat;
}

p#textoRespuesta{
	position: absolute;
	top:30%;
	left: 40%;
	text-align: center;
	font-size: 3em;
	font-family: Mabook;
}

.drop-pregunta{
	width:100% !important;
	height: 100% !important;
	top:0 !important;
	left:0 !important;
}

.dragging-pregunta{
    cursor:grabbing !important;
}


/* -----Fin juego----- */

div#divFinJuego {
    display: none;
    margin: auto;
    background: url(../img/cartaFin.png);
    width: 430px;
    height: 120px;
    background-size: cover;
    position: absolute;	/* Absolute para que no afecte a los demás divs, y todas las posiciones a 0 para centrarlo */
    top: 20%;
    bottom: 0;
    left: 60%;
    right: 0;
    padding: 0 20px;
    font-family: Comfortaa;
    z-index: 1;
}

span#puntos {
    color: red;
    font-weight: bold;
}

input#puntosJugador{
    display:none;
}

form button {
    background-color: #ffed9b;
    border: 2px solid #e6993b;
    border-radius: 5px;
}

form button:hover {
    background-color: #ffe678;
}

/*Media querie ideada para smartphones*/
@media only screen and (min-width: 360px) and (max-width: 768px) {
    /*Para el paso a porcentaje, escogímos de medida una partalla con un width de 455px y un height de 768px para los calculos*/
	#divBotones{
        display: none;
    }
    #imgIslas{
        width:87.91208791%;/*400px la imagen seria de unos 400px*/
        position:absolute;
        left:8.791208791%;/*40px de left*/
        top:38.45833333%;/*280px de top*/
    }
    #divAgua{
        height: 30.04166667% !important;
        top:70.3125% !important;
    }
    #divLogo{
        width: 87.91208791%;
        top:13.02083333%;
        left:13.18681319%!important;
    }
    .imgNubeGrande{
        top:13.02083333%;
        width:32.96703297%;/*El tamaño de la nube sería de 100px y su body de 1366px*/
    }
    
    .imgNubePeque{
        top:19.53125%;
        width:21.97802198%;/*Tamaño de la nube mas grande, la idea era de 200px, su body es de 1366px*/
        
    }
    #imgSol{
        width:13.02083333%;
    }
    #imgLuna{
        width:13.02083333%;
    }
    /*Ajuste de las animaciones para la adaptación a la resolución elegida*/
    @keyframes movLogo {
        from{width:76.92307692%;}
        to{width:81.31868132%;}
    }
    @keyframes carga-animacion{
        0%{background-size:45% 100% ;}
        50%{background-size:60% 100% ;}
        100%{background-size:85% 100%;}
    }

    
/* Media Queries de Fin juego */
@media (max-width: 1200px) {
	div#divJuegoAcabado {
		display: none;
	}

	div#divFinJuego {
		left: 0;
	}

	div#divCanvas {
		width: 100%;
	}

	div#divCanvas h1 {
		left: 5%;
		top: 20%;
	}

	body {
		margin: 0;
	}
}

@media (max-width: 500px) {
	div#divFinJuego {
		left: 0;
		width: 250px;
		height: 180px;
	}

	form button {
		display: block;
		margin: 5px 0;
	}

	div#divCanvas {
		width: 100%;
	}

	div#divCanvas h1 {
		top: 20%;
	}
}
}